@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

:root {
    --bg-color: #0d1117;
    --light-grey: rgba(255, 255, 255, .3);
    --text-color: #f0f6fc;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

main {
    width: 500px;
}

/* ---- form ---- */
form {
    width: 100%;
}

.form-input {
    background: none;
    outline: none;
    border: solid 1px var(--light-grey);
    padding: 5px 10px;
    color: var(--text-color);
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: 100;
}

.form-radius {
    border-radius: 5px;
}

input::placeholder {
    color: var(--light-grey);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

form .suggestions-active:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

form .suggestions-active:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.suggestions {
    cursor: pointer;
    transition: ease .2s;
}

.suggestions:hover {
    background-color: rgba(240, 246, 252, .1);
    transition: ease .2s;
}

/* ---- Definition ---- */
.definition-container {
    width: 100%;
    margin-top: 20px;
}

.definition-word {
    display: flex;
    flex-direction: row;
    align-items: end;
}

h1, h2, h3 {
    margin: 0;
    padding-right: 30px;
    font-weight: 400;
    text-transform: capitalize;
}

.definition-word h2 {
    color: var(--light-grey);
    font-weight: 200;
}

hr {
    border: solid 1px var(--light-grey);
    border-radius: 1px;
}

li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 200;
}

li:last-child {
    margin-bottom: 0;
}

.fa-volume-high {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    color: var(--light-grey);
}

/* ---- Media Queries ---- */
@media (max-width: 600px) {
    main {
        width: 95%;
    }
}